# 資料組合

當處理資料時，有時候會新增刪減欄位、資料，之前我們介紹過 R 簡單的資料結構，並使用 data.frame 來儲存管理資料。一般來說如果單純要在 data.frame 中加上新的欄位，我們可以使用 ```cbind()``` (也就是 <font color="red">c</font>olumn <font color="red">bind</font>的意思，把欄位綁在一起)，如下面的範例：

In [1]:
# 把 mtcars 加上一個新欄位，
# 並把內容填 'a'
mtcars_addnc <- cbind(mtcars, 'a')
head(mtcars_addnc)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb "a"
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    a
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    a
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    a
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    a
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    a
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    a

如果要新增列呢？和 ```cbind()``` 很類似，可使用 ```rbind()``` 來新增列

In [2]:
rbind(mtcars_addnc, 0)

Warning message in `[<-.factor`(`*tmp*`, ri, value = 0):
“invalid factor level, NA generated”

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb "a"
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4    a
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4    a
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1    a
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1    a
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2    a
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1    a
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4    a
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2    a
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2    a
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4    a
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4    a
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3    a
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3    a
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3    a
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4    a
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4    a
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4    a
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1    a
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2    a
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1    a
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1    a
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2    a
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2    a
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4    a
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2    a
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1    a
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2    a
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2    a
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4    a
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6    a
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8    a
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2    a
33                   0.0 0     0.0   0 0.00 0.000  0.00 0  0  0    0    NA

除了這樣新增的方式之外，```cbind()``` 和 ```rbind()``` 常常使用於組合兩個不同的 data.frame，我們把 mtcars 拆成兩個子資料集，來練習使用資料的組合。

1. 先把 mtcars 拆成兩個不同的 data.frame，分別為 mtcars1 和 mtcars2，其中前者包含 mpg, cyl 和 disp；後者則是 hp, drat 以及 wt

In [3]:
# 把 mtcars 拆成兩個子資料集(subset)
mtcars1 <- mtcars[, c('mpg','cyl','disp')]
head(mtcars1)

                  mpg  cyl disp
Mazda RX4         21.0 6   160
Mazda RX4 Wag     21.0 6   160
Datsun 710        22.8 4   108
Hornet 4 Drive    21.4 6   258
Hornet Sportabout 18.7 8   360
Valiant           18.1 6   225

In [4]:
mtcars2 <- mtcars[, c('hp','drat','wt')]
head(mtcars2)

                  hp  drat wt
Mazda RX4         110 3.90 2.620
Mazda RX4 Wag     110 3.90 2.875
Datsun 710         93 3.85 2.320
Hornet 4 Drive    110 3.08 3.215
Hornet Sportabout 175 3.15 3.440
Valiant           105 2.76 3.460

2. 使用使用 cbind 把 mtcars1 和 mtcars2 合在一起

In [5]:
mtcars_cbind <- cbind(mtcars1, mtcars2)
# 合併完之後看一下前幾筆是否正常
head(mtcars_cbind)

                  mpg  cyl disp hp  drat wt
Mazda RX4         21.0 6   160  110 3.90 2.620
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875
Datsun 710        22.8 4   108   93 3.85 2.320
Hornet 4 Drive    21.4 6   258  110 3.08 3.215
Hornet Sportabout 18.7 8   360  175 3.15 3.440
Valiant           18.1 6   225  105 2.76 3.460

同樣的，```rbind()``` 也可以用來組合兩個以上的 data.frame。不過如果你直接使用 ```rbind(mtcars1, mtcars2)```是無法成功的，因為兩個 data.frame 的欄位名稱是不同的。所以在合併多個 data.frame 時，一定要有相同的欄位，以[關聯式資料庫(relational database)](https://zh.wikipedia.org/zh-tw/關聯式資料庫)的術語來說就是要有一組 key (鍵)，這組鍵可以把不同的資料表(data table，在這裡我們指的是兩個或以上的資料集)連結起來，此稱之為 join。在 R 裡頭內建的 ```merge()``` 就是一種 join 的方式(即 inner join)，另外還有 left join 以及 right join 等，其示意圖如圖一，假設有兩個 data.frame df1 及 df2，如果 join 的方式要保留 df1 中所有的元素，這稱之為 left join；同樣地如果要保留 df2 所有的元素，則稱為 right join；如果只保留有交集的元素，我們稱之為 inner join。下一節我們將介紹如何使用 merge 來合併資料。


![](https://github.com/mutolisp/ecoinformatics_course/blob/master/images/join.png?raw=true)
圖一、不同類型的 join

## 使用 merge 來合併資料

如果你曾經使用過 Excel 或是類似的試算表軟體，有個功能 vlookup 和這裡的 merge 是非常類似的，都可以針對某個相同欄位來合併資料。我們把合併資料的概念圖繪製如下呈現：

![](https://github.com/mutolisp/ecoinformatics_course/blob/master/images/data_merge.png?raw=true)
圖二、針對相同欄位合併的示意圖

假設有兩個 data.frame ，其中各有一個欄位 X 都是相同的，我們就可以針對 X 把這兩個 data.frame 合併在一起。在 R 裡頭我們可以這樣做：

In [6]:
# 先建立虛擬的 data.frame
# x,y,z,a,b 都是一維的 vector
x <- c(1,3,5,7)
y <- c('a','b','a','c')
z <- rnorm(4)
a <- sample(4)
b <- c('F','F','T','T')
# 使用 cbind 組合起來，再轉成 data.frame 格式
df1 <- as.data.frame(cbind(x,y,z))
df2 <- as.data.frame(cbind(x,a,b))

In [7]:
# 顯示 df1 
df1

  x y z
1 1 a 0.0651633549863642
2 3 b 0.580618241533372
3 5 a -1.11954914941561
4 7 c -0.410145737362373

In [8]:
# 顯示 df2
df2

  x a b
1 1 4 F
2 3 2 F
3 5 1 T
4 7 3 T

In [9]:
# 合併 df1 和 df2
merge(df1, df2)

  x y z                  a b
1 1 a 0.0651633549863642 4 F
2 3 b 0.580618241533372  2 F
3 5 a -1.11954914941561  1 T
4 7 c -0.410145737362373 3 T

## 進階的 merge: 不同的 join 方式

前一小節的範例中，df1 和 df2 共有的欄位 x 都有四個相同數值(也就是 1,3,5,7)，可是如果 df1 少了一個數值(假設把第四列移除)，和 df2 合併的時候結果會怎麼樣呢？示意圖請參照圖三

![](https://github.com/mutolisp/ecoinformatics_course/blob/master/images/data_merge_na.png?raw=true)
圖三、當 df1 沒有 df2 的數值時

所以如果要保留所有 df2 的 X 欄位，合併完的 Y 欄位和 Z 欄位的 x41 就對應不到 df1 中之數值，所以會留空。以 ```merge()``` 來說，預設會使用 inner join，也就是只有 df1 和 df2 交集的資料才會合併在一起：

In [10]:
# 把第四列數值拿掉
df1 <- df1[-4,]
# 如果 df1 或 df2 其中有數值沒有對應到
# merge 預設會用 inner join (只有交集)
merge(df1, df2)

  x y z                  a b
1 1 a 0.0651633549863642 4 F
2 3 b 0.580618241533372  2 F
3 5 a -1.11954914941561  1 T

如果要實作 left 或 right join 呢？```merge()``` 中只要加上參數 ```all.x = TRUE``` 或是 ```all.y = TRUE``` 即可，x 指的是第一個提到的 df1， y 則是 df2，也可以直接在 ```merge()``` 的參數中指定，例如 ```merge(x=df1, y=df2)```。

In [11]:
# left join
merge(df1, df2, all.x = TRUE)

  x y z                  a b
1 1 a 0.0651633549863642 4 F
2 3 b 0.580618241533372  2 F
3 5 a -1.11954914941561  1 T

In [12]:
# right join
merge(df1, df2, all.y = TRUE)

  x y  z                  a b
1 1 a  0.0651633549863642 4 F
2 3 b  0.580618241533372  2 F
3 5 a  -1.11954914941561  1 T
4 7 NA NA                 3 T

[本節範例 code 下載](https://raw.githubusercontent.com/mutolisp/ecoinformatics_course/master/demos/data_merge.R)